.coop-c-picture {
  display: block;
  background-size: cover;
  position: relative;
}

.coop-c-picture__aspect-ratio {
  content: '';
  display: block;
  position: relative;
}

.coop-c-picture__image {
  display: block;
  width: 100%;
  height: auto;
}

.coop-c-picture.is-aspect-ratio .coop-c-picture__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
