@import './Header.variables.css';

.coop-c-header {
  background-color: var(--color-white);
  color: var(--color-black);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.coop-c-header__inner {
  padding: 0 var(--gutter-sm);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: var(--header-height-sm);

  @media (--mq-md) {
    height: var(--header-height-md);
  }

  @media (--mq-lg) {
    height: var(--header-height-xl);
  }

  @media (--mq-xxl) {
    padding-left: var(--gutter-xl);
    padding-right: var(--gutter-xl);
  }
}

.coop-c-header__logo {
  position: relative;
  z-index: 1;
}

.coop-c-header__logo__link {
  display: block;
}

.coop-c-header__logo__image {
  display: block;
  width: 125px;

  @media (--mq-xl) {
    width: 145px;
  }
}
